<div id="profile_left">
	<h2>
	<% if @user.name.present? %>
	<%= @user.name %><br />@<%= @user.username %>
	<% else %>
	@<%= @user.username %>
	<% end %>
	</h2>
	<%= image_tag(@user.avatar_url(:big)) if @user.avatar? %>
	<br />
	<% if @user != current_user %>
		<% if current_user.friendships.friends_with?(@user.id) %>
		<%= link_to "Unfriend", unfriend_path(@user.username) %>
		<% elsif current_user.friendships.requested?(@user.id) %>
		<p>Friend request pending.</p>
		<% else %>
		<%= link_to "Friend", friend_path(@user.username) %>
		<% end %>
	<% end %>
	<ul id="profile_meta">
		<% if @user == current_user %>
		<li><%= link_to "Edit profile", edit_profile_path %></li>
		<% end %>
		<% if @user.name.present? %>
		<li><%= @user.name %></li>
		<% end %>
		<% if @user.location.present? %>
		<li><%= @user.location %></li>
		<% end %>
		<% if @user.about.present? %>
		<li><%= @user.about %></li>
		<% end %>		
	</ul>
</div><!-- #profile_left -->

<div id="profile_right">
	<%= link_to "Add a goal.", new_goal_path %>
	
	<div class="profile_goal_list">
		<h2>Ongoing Goals &mdash; <%= @user.goals.find_all_by_completed(false).count %></h2>
		<% if !@user.goals.find_all_by_completed(false).blank? %>
			<ul>
				  <% for goal in @user.goals.find_all_by_completed(false) %>
				    <li><%= link_to "#{goal.name}", goal %>
						due in <%= distance_of_time_in_words(goal.timeline, Date.today) %> &middot;
						<%= goal.comments.count %> comments &middot;
						<%= goal.milestones.count %> milestones
						</li>
				  <% end %>
			</ul>
		<% else %>
		<p>No ongoing goals &mdash; <%= link_to "add one now", new_goal_path %>!</p>
		<% end %>	
	</div><!-- .profile_goal_list -->			
	
	<div class="profile_goal_list">
		<h2>Completed Goals &mdash; <%= @user.goals.find_all_by_completed(true).count %></h2>
		<% if !@user.goals.find_all_by_completed(true).blank? %>
			<ul>
				  <% for goal in @user.goals.find_all_by_completed(true) %>
				    <li><%= link_to "#{goal.name}", goal %>
						due in <%= distance_of_time_in_words(goal.timeline, Date.today) %> &middot;
						<%= goal.comments.count %> comments &middot;
						<%= goal.milestones.count %> milestones
						</li>
				  <% end %>
			</ul>
		<% else %>
			<p>No completed goals yet.</p>
		<% end %>
	</div><!-- .profile_goal_list -->	
</div><!-- #profile_right -->
<div class="clear"></div>