<div id="profile_left">
	<h2>@<%= @user.username %></h2>
	<%= image_tag(@user.avatar_url(:big)) if @user.avatar? %>
	<ul id="profile_meta">
		<% if @user.name.present? %>
		<li><%= @user.name %></li>
		<% end %>
		<% if @user.location.present? %>
		<li><%= @user.location %></li>
		<% end %>
		<% if @user.about.present? %>
		<li><%= @user.about %></li>
		<% end %>		
	</ul>
</div><!-- #profile_left -->

<div id="profile_right">
	<h2>Goals</h2>
	<% if !@user.goals.blank? %>
	  <% for goal in @user.goals %>
	    <%= goal.name %>
	  <% end %>
	<% else %>

	<% end %>
</div><!-- #profile_right -->
<div class="clear"></div>