<div id="profile_left">
	<h2>
	<% if @user.name.present? %>
	<%= @user.name %><br />@<%= @user.username %>
	<% else %>
	@<%= @user.username %>
	<% end %>
	</h2>
	<%= image_tag(@user.avatar_url(:big)) if @user.avatar? %>
	<br />
	<% if @user != current_user %>
		<% if current_user.friendships.friends_with?(@user.id) %>
		<%= link_to "Unfriend", unfriend_path(@user.username) %>
		<% elsif current_user.friendships.requested?(@user.id) %>
		<p>Friend request pending.</p>
		<% else %>
		<%= link_to "Friend", friend_path(@user.username) %>
		<% end %>
	<% end %>
	<ul id="profile_meta">
		<% if @user == current_user %>
		<li><%= link_to "Edit profile", edit_profile_path %></li>
		<% end %>
		<% if @user.name.present? %>
		<li><%= @user.name %></li>
		<% end %>
		<% if @user.location.present? %>
		<li><%= @user.location %></li>
		<% end %>
		<% if @user.about.present? %>
		<li><%= @user.about %></li>
		<% end %>		
	</ul>
</div><!-- #profile_left -->

<div id="profile_right">
	<h2>Goals</h2>
	<% if !@user.goals.blank? %>
	  <% for goal in @user.goals %>
	    <%= link_to "#{goal.name}", goal %>
	  <% end %>
	<% end %>
</div><!-- #profile_right -->
<div class="clear"></div>