<%= form_for @goal do |f| -%>
	<% if @goal.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

			<ul>
			<% @goal.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

  <p><%= f.label :name %><br />
  <%= f.text_field :name, :class => "sexy_input" %></p>

	<p><%= f.label :privacy %><br />
	<%= f.select :privacy, [["Public",1], ["Friends",2], ["Private",3]] %></p>
	
	<p><%= f.label :category_id %><br />
	<%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] } %></p>
	
	<p><%= f.label :tag_names, "Tags (comma separated)" %><br />
	<%= f.text_field :tag_names, :class => "sexy_input" %></p>
	
	<p>Deadline<br />
	<%= f.label :day %> <%= f.select(:day, options_for_select(0..30,(params[:goal][:day] if params[:goal].present?))) %>
	<%= f.label :month %> <%= f.select(:month, options_for_select(0..11,(params[:goal][:month] if params[:goal].present?))) %>
	<%= f.label :year %> <%= f.select(:year, options_for_select(0..10,(params[:goal][:year] if params[:goal].present?))) %>
	</p>
	
	<p class="button"><%= f.submit %></p>
<% end -%>
