<h1>New Goal</h1>

<%= form_for @goal do |f| -%>
	<% if @goal.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

			<ul>
			<% @goal.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

	<p><%= f.label :privacy %><br />
	<%= f.select :privacy, ["Public", "Friends", "Private"] %></p>
	
	<p><%= f.label :category_id %><br />
	<%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] } %></p>
	
	<p><%= f.label :tag_names, "Tags (comma separated)" %><br />
	<%= f.text_field :tag_names %></p>
	
	<p><%= f.label :timeline %><br />
	<%= label_tag "Day" %><%= select_tag(:day, options_for_select(0..30)) %><br />
	<%= label_tag "Month" %><%= select_tag(:month, options_for_select(0..11)) %><br />
	<%= label_tag "Year" %><%= select_tag(:year, options_for_select(0..10)) %><br />
	</p>
	
	<p class="button"><%= f.submit "Create" %></p>
<% end -%>
